:root {
  --main-bg-color: rgb(57, 57, 57);
  --secondary-bg-color: rgb(231, 228, 136);
  --third-bg-color: rgb(246, 246, 246);
  --error-primay: rgb(248, 181, 13);
  --alert-primary: rgb(43, 97, 254);
}

.chartContainer {
  background-color: var(--third-bg-color);
}

.associatedWordsTitle {
  margin: 1rem;
  text-align: center;
  font-size: 7vw;
  font-weight: 500;
}

.associatedMessageBackground {
  background-color: var(--secondary-bg-color);
  border-radius: 2rem;
  /* padding-left: 0.2rem;
  padding-right: 0.2rem;
  padding-top: 0.1rem; */
  padding: 0.6rem;
}

.associatedWordsMessage {
  margin: 1rem;
  margin-block-start: 0rem;
  margin-block-end: 0rem;
  font-size: 5.5vw;
  /* text-align: center; */
}
.associatedButtonContainer {
  display: flex;
}
.associatedWordsButton {
  min-width: 15.63rem;
  background-color: var(--main-bg-color);
  border-radius: 2rem;
  height: 2.5rem;
  color: var(--secondary-bg-color);
  text-align: center;
  font-size: 5vw;
  font-family: "Radley", serif;
  margin: auto;
  margin-top: 1.25rem;
}
