.loginAlertContainer {
  display: block;
}

.loginAlertMessage {
  color: var(--third-bg-color);
  border: none;
  background-color: var(--error-primay);
  padding: 0.5rem;
  margin-left: 4rem;
  margin-right: 4rem;
  text-align: center;
  font-weight: 600;
}
